
<%- include('../components/header.ejs') %>
<style>
    .vehicle{
        box-shadow: 0px 0px 5px #e3e3e3;border: 0;overflow: hidden;
    }
    .vehicle:hover{
        box-shadow: 0px 0px 12px #cbcbcb;border: 0;
    }
    .picture:hover{
        transform: scale(1.08);
        transition: transform 0.5s ease;
    }
    .picture {
        width: 100%;
    }
</style>
<link rel="stylesheet" href="/css/vehicle.css" >
<div class="background-container">
    <div  class="overlay"></div>
    <div style="color: black" class="content" >
        <h1  class="title">車款介紹</h1>
        <p>
            <a style="color: #676767;margin: 5px" class="breadborad_text" href="/"> 首頁 </a>
            <span style="color: black;margin: 5px" class="breadborad_text">/</span>
            <a  href="/vehicle" style="color: #676767;margin: 5px" class="breadborad_text">所有車款</a>
        </p>
    </div>
</div>
<div class="container-lg " style="margin-top: 25px">
    <div class="row">
        <% if(vehicles == ''){%>
            <div style="    display: flex;flex-direction: column;align-items: center;padding: 80px">
                <h3>很抱歉，這邊沒有符合的車輛</h3>
                <a style="text-decoration: none" href="/">回到首頁</a>
            </div>
        <%}else{%>
            <% vehicles.forEach(vehicle=>{ %>
                <div class="col-lg-3 col-md-4 col-sm-6" style="margin-top: 25px">
                    <div  class="card vehicle" >
                        <a href="/single/<%= vehicle.id %>">
                            <img class="picture" src="<%= vehicle.image %>">
                        </a>
                        <div style="padding: 20px">
                            <a style="text-decoration: none" href="/single/<%= vehicle.id %>">
                                <h5 style="color: #101737"><%=vehicle.name%></h5>
                            </a>
                            <p style="margin-bottom: 2px;color: #ababab"><%= vehicle.type %></p>
                            <p style="margin-bottom: 2px"><span style="color:  #0e6efd;font-weight: 800"><%= vehicle.price %>$</span> <span style="color: #ababab;font-size: smaller">/ Day</span></p>
                            <p style="color: #777777"><%= vehicle.introduction%></p>

                        </div>
                    </div>
                </div>
            <% }) %>
        <%} %>
    </div>
</div>
<%- include('../components/footer.ejs') %>